@use "../../styles/layout.module" as l;
.wrapper {
  position: sticky;
  top: 0;
  z-index: 300;
}
.content {
  position: relative;
  width: 100%;
  height: 3vh;
  min-height: 40px;
  background: l.$primary;
  color: l.$color-dark;
  text-align: center;

  p {
    font-size: small;
    font-weight: 10;
    margin: 0;
    padding-top: 5px;
  }
  svg {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
  }
}
.titlebar-dark {
  @extend .content;
}
