@use "../../styles/layout.module" as l;
@use "../../styles//state.animations";
.wrapper {
  display: inline-block;
  margin: 2px;
}
.content {
  position: relative;
  input {
    border: none;
    padding: 5px;
    border-radius: 1rem;
    padding-left: 10px;
    background: inherit;
    color: inherit;
  }
  input:hover {
    padding: 4px;
    padding-left: 10px;
  }
  input:focus-visible {
    outline: none;
    padding: 4px;
    padding-left: 10px;
  }
  svg {
    position: absolute;
    top: 5px;
    right: 7px;
    border-radius: 50%;
  }
}
.input-light {
  input:hover {
    border: solid 1px transparentize($color: l.$color, $amount: 0.8);
  }
  input:focus-visible {
    border: solid 1px transparentize($color: l.$color, $amount: 0.5);
  }
}

.input-dark {
  input:hover {
    border: solid 1px transparentize($color: l.$color-dark, $amount: 0.8);
  }
  input:focus-visible {
    border: solid 1px transparentize($color: l.$color-dark, $amount: 0.5);
  }
}
