.day-container {
  display: grid;
  columns: 1;
  grid-template-rows: auto;
  width: 100%;

  p {
    font-size: x-small;
  }
  div {
    border-bottom: 1px solid;
  }
}

.day-wrapper {
  position: relative;
  span,
  h4 {
    margin: 0;
  }
}
.day-project {
}
