@use "../../styles/layout.module" as l;
@use "../../styles/mixins";
@use "../Button/button.styles.module";
.wrapper {
  display: inline-block;
  margin: 2px;
}
.content {
  position: relative;
  div {
    display: flex;
    align-items: center;

    button {
      width: fit-content;
      white-space: nowrap;
      padding-left: 10px;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    svg {
      padding: 0 5px;
      border-radius: 0.5rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.expanded {
  div {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    button {
      box-shadow: 0px 1px 5px 3px transparentize(l.$color, 0.8);
      border-radius: 0;
      border-top-left-radius: 0.5rem;
      z-index: 2;
    }
    svg {
      transform: rotate(180deg);
    }
  }
  ul {
    position: absolute;
    list-style: none;
    margin: 0;
    right: 0;
    width: calc(100%);
    z-index: 1;
    height: fit-content;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-left: 0;
    li {
      padding: 10px;
      cursor: pointer;
    }
  }
}
.collapsed {
  ul {
    display: none;
  }
}
.primary {
  svg {
    background: transparentize(l.$primary, 1);
    color: l.$background;
  }
  ul {
    background: l.$primary;
    color: l.$background;
    li:hover {
      background: lighten($color: l.$primary, $amount: 10);
    }
    li:active {
      background: l.$primary;
    }
    li:last-child:hover {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}
.outline {
  svg {
    background: transparentize(l.$primary, 1);
    color: l.$primary;
  }
  div {
    border: l.$primary 1px solid;
  }
  div:hover {
    background: transparentize($color: l.$primary, $amount: 0.95);
  }
  button {
    border: none;
  }
  ul {
    background: l.$primary;
    color: l.$background;
    li {
      background: l.$background;
      color: l.$color;
      border: l.$primary 1px solid;
      border-bottom: none;
    }
    li:hover {
      background: l.$primary;
      color: l.$background;
    }
    li:active {
      background: l.$primary;
    }
    li:last-child:hover {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    li:last-child {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border-bottom: l.$primary 1px solid;
    }
  }
}
