@use "../../styles/layout.module" as l;
@use "../../styles/mixins";
.wrapper {
  margin: 30px;
}
.content {
  padding: 5px;
  height: 300px;
  width: 350px;
  border-radius: 1rem;
  transition: box-shadow 500ms;
}

.card-light:hover {
  background: l.$background;
  box-shadow: 9px 9px 29px darken($color: l.$background, $amount: 6),
    -9px -9px 29px darken($color: l.$background, $amount: 6);
}

.card-light {
  @extend .content;
  background: l.$background;
  box-shadow: 2px 2px 7px darken($color: l.$background, $amount: 4.5),
    -2px -2px 7px darken($color: l.$background, $amount: 3);
}
.card-dark {
  @extend .content;
  background: l.$background-dark;
  box-shadow: 2px 2px 7px darken($color: l.$background-dark, $amount: 3),
    -2px -2px 7px darken($color: l.$background-dark, $amount: 1.5);
}
.card-dark:hover {
  background: l.$background-dark;
  box-shadow: 4px 4px 10px darken($color: l.$background-dark, $amount: 6),
    -4px -4px 10px darken($color: l.$background-dark, $amount: 6);
}

.header {
  position: relative;
  width: 100%;
  height: 48px;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: box-shadow 500ms;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  svg {
    font-size: large;
    cursor: pointer;
    transform: scale(1.2);
  }
  svg:hover {
    transform: scale(1.3);
  }
}
.header-light:hover {
  box-shadow: 0px 2px 10px transparentize($color: l.$color, $amount: 0.9);
}
.header-light {
  @extend .header;
  box-shadow: 0px 2px 10px transparentize($color: l.$color, $amount: 0.97);
}
.header-dark {
  @extend .header;
  box-shadow: 0px 2px 10px darken($color: l.$color, $amount: 2);
}
.header-dark:hover {
  box-shadow: 0px 2px 10px darken($color: l.$color, $amount: 6);
}
